<h1> Create a New Postpartum Chart </h1>

<%= form_for [@client, @postpartum] do |f| %>
  <%= f.label :support %>
  <%= f.text_field :support %>
  <%= f.label :recovery %>
  <%= f.text_field :recovery %>
  <%= f.label :questions %>
  <%= f.text_field :questions %>
  <%= f.submit "Create"%>
<% end %>
