<h4>Support = <%= @postpartum.support %></h4>
<h4>Recovery = <%= @postpartum.recovery %></h4>
<h4>Question = <%= @postpartum.questions %></h4>




<%= link_to 'Edit Chart', edit_postpartum_path(@postpartum) %>
<br>
<%= link_to 'Delete Chart', postpartum_path(@postpartum), method: :delete %>
<br>

<%= link_to 'Clients', clients_path %>
