<h1> Create a New 'Basic' Client Form </h1>

<%= form_for @basic do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.submit "Create"%>
<% end %>
