<h1> Create a New Basic Chart </h1>

<%= form_for [@client, @basic] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.submit "Create"%>
<% end %>
