<h4>Name = <%= @basic.name %></h4>
<h4>Address = <%= @basic.address %></h4>
<h4>Age = <%= @basic.age %></h4>





<%= link_to 'Edit Chart', edit_basic_path(@basic) %>
<br>
<%= link_to 'Delete Chart', basic_path(@basic), method: :delete %>
<br>
<%= link_to 'Clients', clients_path %>
