<h3><%= @postpartum.support %></h3>
<h3><%= @postpartum.recovery %></h3>
<h3><%= @postpartum.questions %></h3>




<%= link_to 'Edit Chart', edit_postpartum_path(@postpartum) %>
<%= link_to 'Delete Chart', postpartum_path(@postpartum), method: :delete %>
