<h1> Create a New Prenatal Chart </h1>

<%= form_for [@client, @prenatal] do |f| %>
  <%= f.label :EDD %>
  <%= f.text_field :EDD %>
  <%= f.label :BP %>
  <%= f.text_field :BP %>
  <%= f.label :physician %>
  <%= f.text_field :physician %>
  <%= f.submit "Create"%>
<% end %>
