<h4>EDD = <%= @prenatal.EDD %></h4>
<h4>BP = <%= @prenatal.BP %></h4>
<h4>Physician = <%= @prenatal.physician %></h4>




<%= link_to 'Edit Chart', edit_prenatal_path(@prenatal) %>
<br>
<%= link_to 'Delete Chart', prenatal_path(@prenatal), method: :delete %>
<br>
<%= link_to 'Clients', clients_path %>
