<h1> Edit Client </h1>
<%= form_for @client do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :chart_type %>
  <%= f.text_field :chart_type%>

  <%= f.submit "Edit"%>
<% end %>

<br>

<%= link_to 'Back', client_path %>
