<h1> Create a New Client </h1>

<%= form_for @client do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :chart_type %>
  <%= f.text_field :chart_type%>

  <%= f.submit "Create"%>
<% end %>
