<h2>Name = <%= @client.name %></h2>
<h4>Chart Type = <%= @client.chart_type %></h4>
<%= link_to 'Back', clients_path %>

<br>
<%= link_to 'Edit this client', edit_client_path(@client) %>
<br>
<%= link_to 'Delete this client', client_path(@client), method: :delete %>
