<h1>Chart Directory</h1>
<ul>
<% @charts.each do |chart| %>
  <li>
  <%= link_to chart.chart_type, chart_path(chart) %>
</li>
</ul>
<% end %>
<h2><%= link_to 'New Basic Chart', new_chart_path %></h2>

<h2><%= link_to 'New Prenatal Chart', new_chart_path %></h2>

<h2><%= link_to 'New Newborn Chart', new_chart_path %></h2>

<h2><%= link_to 'New Postpartum Chart', new_chart_path %></h2>
