<h3> Create a New 'Basic' Client Form </h3>

<%= form_for @chart do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :address %>
<%= f.text_field :address %>
<%= f.label :phsician %>
<%= f.text_field :phsician %>

  <%= f.submit "Create"%>
<% end %>

<br>

<h3> Create a New 'Prenatal' Client Form </h3>

<%= form_for @chart do |f| %>
<%= f.label :nutrition %>
<%= f.text_field :nutrition %>
<%= f.label :questions %>
<%= f.text_field :questions %>

  <%= f.submit "Create"%>
<% end %>

<br>
<h3> Create a New 'Newborn' Client Form </h3>

<%= form_for @chart do |f| %>
<%= f.label :chart_type %>
<%= f.text_field :chart_type %>
<%= f.label :client_id %>
<%= f.text_field :client_id %>

  <%= f.submit "Create"%>
<% end %>

<br>
<h3> Create a New 'Postpartum' Client Form </h3>

<%= form_for @chart do |f| %>
<%= f.label :nutrition %>
<%= f.text_field :nutrition %>
<%= f.label :questions %>
<%= f.text_field :questions %>

  <%= f.submit "Create"%>
<% end %>

<br>
<%= link_to 'Back', charts_path %>





<!-- Client.first.charts.build
Chart.first.clients.build -->
